# Android Studio specific
*.iml
.idea/
.DS_Store

# Gradle specific
.gradle/
local.properties
build/
.cxx/
captures/
.externalNativeBuild/

# App-specific builds
app/build/
app/.idea/

# Others
*.log
